<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

     <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
      </div>

      <div class="col-md-8">
          <p>  Hi, I'm Kyla Tingey. I am currently a student at the Bottega School of Technology bootcamp, studying to become a web-program developer. Before Bottega, I studied at both East Valley Insitute of Technology and Mesa Community College. Through EVIT, I became a Certified Nursing Assistant and Dental Assistant. I have also been certified to take dental radiographs. My hobbies include taking photographs of friends and family, cooking/baking, organizing, drawing, exercising, and watching movies. I enjoy learning new things and having a broad range of knowledge. </p>
      </div>
    </div>  
  </div>
</div>




