<div class="row">
  <body class="about-img">
    <div class="about-content">

          <h1>About Me</h1>

          <hr>

          <p>  Hi, I'm Kyla Tingey. I am currently a student at the Bottega School of Technology bootcamp, studying to become a web-program developer. Before Bottega, I studied at both East Valley Insitute of Technology and Mesa Community College. Through EVIT, I became a Certified Nursing Assistant and Dental Assistant, as well as certified to take dental radiographs. My hobbies include taking photographs of friends and family, cooking/baking, organizing, drawing, exercising, and watching movies. I enjoy learning new things and having a broad range of knowledge. </p>
      </div>
    </div>  
  </body>
</div> 


