<%= video_tag(
              'HardDrivePhotojpeg.mp4',
              id: 'background',
              autoplay: true,
              loop: true,
              muted: true,
              poster: 'home_bg.png'
            )
            %>

<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">To learn more about me, click here:</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>